<div class="section has-hidden-link">
  <h1 class="title is-4 is-section-header">
    {{name}}
    <a class="is-hideable" name="{{anchor}}" href="#{{anchor}}">
      <i class="fas fa-link"></i>
    </a>
  </h1>

  <table class="table is-hoverable is-fullwidth">
    <thead class="has-background-light">
      <tr>
        <th class="tooltip" scope="col" data-tooltip="Owner's Brannock size">
          Brannock
        </th>
        <th class="tooltip" scope="col" data-tooltip="Manufacturer/Model/Last">
          Model &amp; Last
        </th>
        <th class="tooltip" scope="col" data-tooltip="Tagged size of the shoe">
          Tag
        </th>
        <th class="tooltip" scope="col" data-tooltip="Sizing system (EU/UK/US) of tagged size">
          System
        </th>
        <th class="tooltip" scope="col" data-tooltip="Original text">
          Source
        </th>
      </tr>
    </thead>

    <tbody>
      {{#each records}}
        <tr>
          <td>{{brannockSize}}</th>
          <td>{{modelLast}}</td>
          <td>{{tagSize}}</td>
          <td>{{{intl}}}</td>
          <td>
            <a href="{{commentUrl}}">{{sizingText}}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
