<div class="section has-hidden-link">
  <h1 class="title is-4 is-section-header">
    {{name}}
    <a class="is-hideable" name="{{anchor}}" href="#{{anchor}}">
      <i class="fas fa-link"></i>
    </a>
  </h1>

  <table class="table is-hoverable is-fullwidth">
    <thead class="has-background-light">
      <tr>
        <th scope="col">Brannock</th>
        <th scope="col">Model &amp; Last</th>
        <th scope="col">Tag</th>
        <th scope="col">Convention</th>
        <th scope="col">Source</th>
      </tr>
    </thead>

    <tbody>
      {{#each records}}
        <tr>
          <td>{{brannockSize}}</th>
          <td>{{modelLast}}</td>
          <td>{{tagSize}}</td>
          <td>{{{intl}}}</td>
          <td>
            <a href="{{commentUrl}}">{{sizingText}}</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
